h1#test1 Test 1 with raw Gist url 
  p.url https://gist.githubusercontent.com/[user]/[gistID]/raw/[json filename].json
  h3 content-type: 
    span#test1-output.output
h1#test2 Test 2 with Gist API url 
  p.url https://api.github.com/gists/[gistId]
  h3 content-type: 
    span#test2-output.output